@charset "utf-8";
/* CSS Document */
body{
	font-family: sans-serif;
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}
#topdetail {
  margin-top: 60px;
}
/*==Style cho menu===*/
#menu {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: auto;
  margin-top: 60px;
  border-bottom: 1px solid #ddd;
}
#menu ul {
  background: #fff;
  list-style-type: none;
/*  text-align: center;*/
  width: 100%;
  float: left;
}
#menu li {
  color: blue;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
/*  margin-left: -5px;*/
}
/*#menu li.drop {
  width: 145px;
}*/
/*#menu li {
  color: #f1f1f1;
  float: left;
  width: 120px;
  height: 40px;
  line-height: 40px;
}
#menu ul {
  background: #1F568B;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}*/
#menu a {
  text-decoration: none;
  color: blue;
  display: block;
  width: 150px;
  text-align: center;
}
#menu .drop a{
  text-align: left;
}
#menu .submenu a{
  text-align: center;
}
#menu a:hover {
  
  color: violet;
}
/*==Dropdown Menu==*/
.submenu li {
  width: 145px; 
}

#menu li {
 position: relative;
}
.submenu {
 display: none;
 position: absolute;
}
#menu li:hover .submenu {
 display: block;
}
.submenu li {
 margin-left: 0 !important;
 background: #e6e6e6;
}
/*kết thúc dropdown menu*/
#menu .nameproduct {
  float: left;
}
#menu .nameproduct h1 {
  font-size: 26px;
  color: #333;
  height: auto;
  float: left;
  margin: 0;
}
.nameproduct span {
  float: left;
  font-size: 13px;
  color: gray;
  margin-left: 13px;
  margin-top: 13px;
}
#topdetail section {
  margin-top: 30px;
}
section {
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  min-width: 980px;
  margin: 65px auto 0;
}





.chitiet {
  float: right;
  width: 91.667%;
  max-width: 1100px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.picture {
  float: left;
  overflow: hidden;
  width: 38.637%;
  position: relative;
}
.picture img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 10px;
  cursor: pointer;
}
.price_pro {
  float: left;
  position: relative;
  width: 32.274%;
}
.price_pro strong {
  display: block;
  font-size: 22px;
  color: #d0021b;
  margin-bottom: 6px;
}
.info-promo {
  display: block;
  font-size: 16px;
  line-height: 1.3em;
  color: #27ae60;
  font-weight: 600;
  padding-bottom: 10px;
}
.promo {
  display: block;
  background: #f6f5f5;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  position: relative;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 5px 0;
}
.promo span {
  margin: 10px;
  display: block;
  overflow: hidden;
  font-size: 13px;
  color: #2c3e50;
}
.promo span:before {
  display: inline-block;
  content: "•";
  margin-right: 5px;
}

.chitietkhac {
  display: block;
  overflow: hidden;
  float: left;
}
.chitietkhac li {
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.3em;
}
.chitietkhac a {
  color: blue;
}
.logocheck {
  position: static;
  padding: 0 10px;
}
.price_pro .muangay, .tragop {
  display: block;
  margin-top: 15px;
  padding: 9px 0;
  width: 94.37%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #000;
  background: #d97f00;  
  float: left;  

}
.price_pro .tragop {
  background: blue;
}
.price_pro .muangay span, .tragop span {
  display: block;
  font-size: 12px;
  color: #fff;
  text-transform: none;
  font-weight: 300;
}
.goidatmua {
  display: block;
  float: left;
  padding-top: 10px;
  font-size: 13px;  
  width: auto;
}
.goidatmua span {
  color: #000;
  float: right;
}

}/*-------------------------chi tiết---------------------*/
.dacdiem{
	background-color: white;
	margin: 10px;
	display: block;
}
.dacdiem img{
	width: 45%;
	height: 45%;
	float: left;
	display: block;
}
.dacdiem .right{
	display: block;
	width:44%;
	border: 3px solid black;
border-radius: 8px;
	float: left;
	background-color: white;

}
.xemthem{
	display: block;
}
.sanpham2 {
width: 100%;
overflow: hidden; /*chống tràn van bản*/
float: left;
text-align: center;
margin-top: 10px;
}
.sanpham2 h2{
background-color: red;
color: white;
display: inline;
border-radius: 4px;
font-size: 50px;

margin-bottom: 10px;
}
.sanpham2 ul li{
width: 23%;
height: 23%;
float: left;
background-color: white;
margin-bottom: 10px;
margin-right: 2%;
}
.sanpham2 img{
width: 100%;
float: left;
display: block;
margin-left: 0PX;
}
