
/*===================header=========================*/
.content {
    display: block;
    width: 90%;
    margin-top: 10px;
}
.content img {
    
    margin-top: 100px;
    margin-left:215px;
}
.content .comment .submitcomment{
    display: inline-block;
    width: 75%;
    background-color: white !important;
    margin-left:220px;
    line-height: 30px;
    margin-bottom: 10px;
}
.content .comment .submitcomment .binhluan{
    background-color: red;
    width: 10%;
    height: 20%;
    display: block;
    text-align:center;
}
.content .comment .printcomment{
    display: inline-block;
    width: 75%;
    background-color: white !important;
    margin-left:220px;
    line-height: 30px;
}
/*=======================================================CSS conten=======================================================================*/

