
/*===================header=========================*/
section{
    
 
    min-width: 980px;
    clear: both;
    text-align: center;
}
section form {
    margin: 20px 215px;
    background: #fff;
    padding: 20px;
}
input {
    width: 350px;
}
.btn {
    padding: 10px;
}
.bannerkm img{
    margin-top: 100px;
}

.comment {
    background: #fff;
}
.comment input{
    border: 1px solid #ebebeb;
    border-radius: 4px;
}
h3.binhluan {
    padding: 0;
    margin: 0;
    /*background: violet;*/
    color: #000;
}



/*=======================================================CSS conten=======================================================================*/

